<div class="container">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Nombre común</th>
      <th>Tipo</th>
      <th>Clima</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let plant of plants">
      <th scope="row">{{plant.id}}</th>
      <td>{{plant.nombre_comun}}</td>
      <td>{{plant.tipo}}</td>
      <td>{{plant.clima}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <p>Total plantas de interior: {{countPlantsByType('Interior')}}<p>
    <p>Total plantas de exterior: {{countPlantsByType('Exterior')}}</p>
  </div>
</div>


